{% extends 'ecomapp/base.html' %}
{% block content %}
<div class="container mt-5 pt-5 mb-3">
    <div class="row">
        {% if messages %}
        {% for message in messages %}
        <p {% if message.tags %} class="alert alert-{{message.tags}} mb-3 text-center" {% endif %}>{{message}}</p>
        {% endfor %}
        {% endif %}
        <div class="container shadow py-3 col-sm-6">
            <h2 class="text-center">Profile</h2>
            <p>Username: {{request.user.username}}</p>
            <p>Email: {{request.user.email}}</p>
            <p>First Name: {{request.user.first_name}}</p>
            <p>Last Name: {{request.user.last_name}}</p>
            <a href="{% url 'editprofile' %}" class="btn mybtn">Edit Profile</a>
        </div>
        <div class="container shadow pt-5 col-sm-5 offset-sm-1">
            <h2 class="text-center">Address</h2>
            <p>Shipping Address: {{request.user.customer.shipping_address}}</p>
            <p>Mobile: {{request.user.customer.phone}}</p>
            <a href="{% url 'editprofile2' %}" class="btn mybtn">Edit</a>
        </div>
    </div>
</div>
{% endblock content %}